body {
  background: #e6e6e6;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

.box {
  width: 1000px;
  height: 400px;
  margin: auto;
}

.main-body {
  width: 80%;
  height: 81.25%;
  margin: auto;
  margin-top: 15%;
  margin-bottom: 10%;
  background: transparent;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  border-radius: 60px;
}

.screen-body {
  background: #0d0d0d;
}

.screen {
  position: relative;
  top: 5%;
  left: 2.5%;
  width: 95%;
  height: 90%;
  background: #d10019;
  border-radius: 5px;
}

.logo-left {
  position: absolute;
  top: 15%;
  left: 33%;
  width: 15%;
  height: 70%;
  background: white;
  border-radius: 45px 0 0 45px;
}

.inside-left {
  position: absolute;
  top: 5%;
  left: 10%;
  height: 90%;
  width: 80%;
  background: #d10019;
  border-radius: 40px 0 0 40px;
}

.circle-left {
  position: absolute;
  top: 20%;
  left: 30%;
  height: 15%;
  width: 40%;
  background: white;
  border-radius: 50%;
}

@keyframes move-down {
  0% {
    top: 10%;
  }

  50% {
    top: 70%;
  }

  100% {
    top: 10%;
  }
}

.logo-right {
  position: absolute;
  top: 15%;
  right: 33%;
  width: 15%;
  height: 70%;
  background: white;
  border-radius: 0 45px 45px 0;
}

.circle-right {
  position: absolute;
  bottom: 30%;
  left: 30%;
  height: 15%;
  width: 40%;
  background: #d10019;
  border-radius: 50%;
}

@keyframes move-up {
  0% {
    bottom: 10%;
  }

  50% {
    bottom: 70%;
  }

  100% {
    bottom: 10%;
  }
}

.joy-con-left {
  position: relative;
  background: #00bbda;
  border-radius: 70px 0 0 70px;
}

.joystick-left {
  position: absolute;
  top: 15%;
  left: 25%;
  width: 50%;
  height: 17%;
  border-radius: 100%;
  background: #1a1a1a;
}

.minus-sign {
  position: absolute;
  top: 5%;
  left: 70%;
  width: 20%;
  height: 2%;
  border-radius: 3px;
  background: #1a1a1a;
}

.d-pad-left-1 {
  position: absolute;
  top: 55%;
  left: 38.5%;
  width: 23%;
  height: 8%;
  border-radius: 100%;
  background: #1a1a1a;
}

.d-pad-left-2 {
  position: absolute;
  top: 70%;
  left: 38.5%;
  width: 23%;
  height: 8%;
  border-radius: 100%;
  background: #1a1a1a;
}

.d-pad-left-3 {
  position: absolute;
  top: 62.5%;
  left: 18%;
  width: 23%;
  height: 8%;
  border-radius: 100%;
  background: #1a1a1a;
}

.d-pad-left-4 {
  position: absolute;
  top: 62.5%;
  right: 18%;
  width: 23%;
  height: 8%;
  border-radius: 100%;
  background: #1a1a1a;
}

.small-square {
  position: absolute;
  top: 85%;
  right: 10%;
  width: 23%;
  height: 8%;
  border-radius: 5px;
  background: #1a1a1a;
}

.joy-con-right {
  position: relative;
  background: #ff5f53;
  border-radius: 0 70px 70px 0;
}

.joystick-right {
  position: absolute;
  bottom: 20%;
  left: 25%;
  width: 50%;
  height: 17%;
  border-radius: 100%;
  background: #1a1a1a;
}

.plus-sign-1 {
  position: absolute;
  top: 2.5%;
  right: 77%;
  width: 5%;
  height: 8%;
  border-radius: 3px;
  background: #1a1a1a;
}

.plus-sign-2 {
  position: absolute;
  top: 5%;
  right: 70%;
  width: 20%;
  height: 2%;
  border-radius: 3px;
  background: #1a1a1a;
}

.d-pad-right-1 {
  position: absolute;
  bottom: 55%;
  left: 38.5%;
  width: 23%;
  height: 8%;
  border-radius: 100%;
  background: #1a1a1a;
}

.d-pad-right-2 {
  position: absolute;
  bottom: 70%;
  left: 38.5%;
  width: 23%;
  height: 8%;
  border-radius: 100%;
  background: #1a1a1a;
}

.d-pad-right-3 {
  position: absolute;
  bottom: 62.5%;
  left: 18%;
  width: 23%;
  height: 8%;
  border-radius: 100%;
  background: #1a1a1a;
}

.d-pad-right-4 {
  position: absolute;
  bottom: 62.5%;
  right: 18%;
  width: 23%;
  height: 8%;
  border-radius: 100%;
  background: #1a1a1a;
}

.small-circle {
  position: absolute;
  top: 85%;
  left: 10%;
  width: 23%;
  height: 8%;
  border-radius: 100%;
  background: #1a1a1a;
}

@media all and (max-width: 900px) {
  .box {
    width: 700px;
    height: 280px;
  }

  .joy-con-left {
    border-radius: 49px 0 0 49px;
  }

  .joy-con-right {
    border-radius: 0 49px 49px 0;
  }

  .logo-left {
    border-radius: 31.5px 0 0 31.5px;
  }

  .inside-left {
    border-radius: 28px 0 0 28px;
  }

  .logo-right {
    border-radius: 0 31.5px 31.5px 0;
  }
}

@media all and (max-width: 700px) {
  .box {
    width: 500px;
    height: 200px;
  }

  .joy-con-left {
    border-radius: 35px 0 0 35px;
  }

  .joy-con-right {
    border-radius: 0 35px 35px 0;
  }

  .logo-left {
    border-radius: 22.5px 0 0 22.5px;
  }

  .inside-left {
    border-radius: 20px 0 0 20px;
  }

  .logo-right {
    border-radius: 0 22.5px 22.5px 0;
  }
}

@media all and (max-width: 500px) {
  .box {
    width: 250px;
    height: 100px;
  }

  .joy-con-left {
    border-radius: 17.5px 0 0 17.5px;
  }

  .joy-con-right {
    border-radius: 0 17.5px 17.5px 0;
  }

  .logo-left {
    border-radius: 11.25px 0 0 11.25px;
  }

  .inside-left {
    border-radius: 10px 0 0 10px;
  }

  .logo-right {
    border-radius: 0 11.25px 11.25px 0;
  }
}

/*
.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
